# .NET
backend/bin/
backend/obj/
*.user
*.suo
.vs/

# Angular
frontend/ccl-inventario-app/node_modules/
frontend/ccl-inventario-app/dist/
frontend/ccl-inventario-app/.angular/

# Environment
*.env
appsettings.Development.json

# OS
.DS_Store
Thumbs.db
